<div class="form-container">
    <mat-card class="form-card">
      <h3 class="form-title">Formulario de Venta</h3>
      <form [formGroup]="form_venta" (ngSubmit)="agregarVenta()">
         
        <div class="form-field">
          <label for="producto_precio">Selecciona un precio:</label>
          <select id="producto_precio" formControlName="producto_precio" (change)="onPrecioChange($event)">
          <option *ngFor="let producto_precio of productos_precios" [value]="producto_precio.id_producto_precio">
            {{producto_precio.producto.nombre}} - {{producto_precio.precio}}
          </option>
          </select>
        </div>

        <div class="form-field">
          <mat-form-field class="ancho">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" autocomplete="off" formControlName="cantidad">
          </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field class="ancho">
              <mat-label>Precio de venta</mat-label>
              <input matInput type="number" autocomplete="off" formControlName="precio">
            </mat-form-field>
          </div>
  
        <div class="form-buttons">
          <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard/ventas">Volver</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="form_venta.invalid">Aceptar</button>
        </div>
      </form>
    </mat-card>
  </div>