<mat-toolbar color="primary">
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard" >Inicio</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/tiendas">Tiendas</button>
    <button mat-button routerLink="/dashboard/ventas">Ventas</button>
    <button mat-button routerLink="/dashboard/productos">Productos</button>
    <button mat-button routerLink="/dashboard/precios">Precios</button>
    <span class="example-spacer"></span>
    <mat-icon routerLink="/logout" aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
</mat-toolbar>

