body {

    font-family: Arial, sans-serif;
    background-color: rgba(255, 235, 216, 0.692);
    color: black;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    margin: 10px;
}

.nav_menu {
    background-image: url('../img/dark-purple-background-8asxp40fz21qblsd.jpg');
    padding: 10px 5px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: rgba(83, 25, 138, 0.247);
}

.sub_menu {
    display: none;
    position: absolute;
    background-color: rgba(45, 4, 83, 0.925);
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
}
.menu li:hover .sub_menu {
    color: rgb(52, 5, 95);
    display: block;
}

.sub_menu li a {
    padding: 10px 20px;
}

.content_pricipal {
    padding: 50px 0;
}

.content_pricipal h1, h4 {
    margin: 20px;
}

.princ_imag {
    width: 700px;
    height: 400px;
    object-fit: cover;
    left: 0;

}

.footer {
    background-image: url('../img/dark-purple-background-8asxp40fz21qblsd.jpg');
    padding: 20px;
    text-align: left;
}

.footer h3 {
    color: white;
    margin: 0;
}

.footer span {
    display: flex;
    margin: 5px 0;
    padding: 5px 0;
    color: #fff;
}