<mat-sidenav-container class="container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>PCDoctor</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content">
        <mat-card class="card">
          <mat-card-title>
            <mat-icon>home</mat-icon>
            Home
          </mat-card-title>
          <mat-card-content>
            <p>Esta es la web de la mipyme PCDoctor especializada en la venta de articulos y alimentos.</p>
            <mat-list>
              <mat-list-item>
                <mat-icon>check</mat-icon>
                <span>Dedicada para administrar productos del negocio</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>check</mat-icon>
                <span>Vender productos y regitrar esas ventas</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>check</mat-icon>
                <span>Otras consultas</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Web de PCDoctor</span>
          </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
